<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Other existing keys -->

    <!-- Google Sign-In Client ID -->
    <key>GIDClientID</key>
    <string>372957022716-eg9pnka0vja7i65irk3js4a3pgeq50kl.apps.googleusercontent.com</string>

    <!-- URL Schemes for Google Sign-In -->
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.googleusercontent.apps.808066163689-7ql6v6e8u0a8llc6nhh2duojegbc2f33</string>
            </array>
        </dict>
    </array>

    <!-- Other existing keys -->

</dict>
</plist>

